@import "tailwindcss";

/* Leaflet Popup Overrides */
.leaflet-popup-content-wrapper {
  padding: 0 !important;
  overflow: hidden;
  border-radius: 0.75rem !important; /* rounded-xl */
}

.leaflet-popup-content {
  margin: 0 !important;
  /* width: 100% !important; */
}
.leaflet-popup-content p {
	margin: 17px 0;
	margin: 10px 0 !important;
	}

.leaflet-container a.leaflet-popup-close-button {
  color: white !important;
  top: 8px !important;
  right: 8px !important;
  font-size: 24px !important;
  font-weight: bold !important;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #eee !important;
}